.page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;

    .icon {
        font-size: 6rem;
        color: f-color(accent, 0.5);

        @include media(md) {
            font-size: 8rem;
        }

        @include media(lg) {
            font-size: 12rem;
        }
    }

    .text {
        opacity: 0.5;
    }

    .button {
        &:not(:first-child) {
            margin-top: 0.5rem;
        }
    }
}
