@use "sass:list";
@use "vars" as *;
@use "functions" as *;

:root {
    @each $key, $value in $breakpoints {
        --breakpoint-#{$key}: #{$value};
    }

    @each $key, $value in $colors {
        --color-#{$key}: #{$value};
        --color-#{$key}-rgb: #{f-hex-to-rgb($value)};
    }

    @each $key, $value in $fonts {
        --font-#{$key}: #{$value};
    }

    @each $key, $value in $font-sizes {
        --font-size-#{$key}: #{list.nth($value, 1)};
        --line-height-#{$key}: #{list.nth($value, 2)};
    }
}
