$breakpoints: (
    "xs": 360px,
    "sm": 640px,
    "md": 768px,
    "lg": 1025px,
    "xl": 1280px,
    "2xl": 1440px,
    "3xl": 1920px,
);

$colors: (
    "white": #fff,
    "black": #000,
    "primary": #222,
    "secondary": #44444e,
    "accent": #715a5a,
    "text": #d3dad9,
    "error": #ff4d4f,
    "success": #52c41a,
);

$fonts: (
    "primary": var(--font-lato),
);

$font-sizes: (
    "sm": (
        0.75rem,
        1.1,
    ),
    "md": (
        1rem,
        1.2,
    ),
    "lg": (
        1.25rem,
        1.25,
    ),
    "xl": (
        1.5rem,
        1.25,
    ),
    "2xl": (
        2rem,
        1.3,
    ),
    "3xl": (
        3rem,
        1.5,
    ),
);

$transition: 0.35s;
