@use "css-vars";
@import "modern-normalize/modern-normalize.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    overflow-x: clip;
}

body {
    @include text(md);

    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    font-family: f-font(primary);
    color: f-color(text);
    background: f-color(primary);
    text-rendering: optimizelegibility;
    text-decoration-skip: objects;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    flex: 1;
}

a {
    color: inherit;
    text-decoration: none;
    text-decoration-skip-ink: none;
}

img,
svg {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
