.spinner {
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    color: f-color("white");
    fill: f-color("white", 0.15);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
