.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    background-color: f-color(secondary, 0.25);
    border-radius: 0.75rem;

    @include media(lg) {
        padding: 1.5rem;
    }
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.error {
    display: flex;
    gap: 0.25rem;
    align-items: flex-start;
    color: f-color(error);

    & &__icon {
        position: relative;
        top: -1px;
    }
}
