.header {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: f-color(secondary, 0.5);
    backdrop-filter: blur(10px);
}

.container {
    @include container;

    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: space-between;
    min-height: 3.75rem;
    padding-block: 0.5rem;

    @include media(lg) {
        gap: 1rem;
        min-height: 5rem;
    }
}

.logo {
    $p: &;

    @include text(md);

    display: flex;
    gap: 0.25rem;
    align-items: center;
    font-weight: bold;
    color: f-color("white");
    transition: opacity $transition;

    @include media(lg) {
        @include text(lg);

        &:hover {
            opacity: 0.75;
        }
    }

    & &__icon {
        opacity: 0.5;
        transition: transform $transition;

        @include media(lg) {
            font-size: 1.5rem;
        }
    }

    @include media(lg) {
        &:hover &__icon {
            transform: rotate(-10deg);
        }
    }
}

.nav {
    display: flex;
    gap: inherit;
    align-items: center;
}

.user {
    display: none;

    @include media(sm) {
        display: block;
    }
}
