.container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.input {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: 0 0.75rem;
    font-family: inherit;
    font-size: f-font-size(md);
    line-height: 1;
    color: f-color(text);
    text-align: left;
    letter-spacing: 0;
    appearance: none;
    caret-color: f-color(accent);
    outline: none;
    background-color: f-color(secondary, 0.5);
    border: 1px solid f-color(secondary);
    border-radius: 0.75rem;
    box-shadow: none;
    transition:
        border-color $transition,
        opacity $transition;

    @include media(lg) {
        padding: 0 1rem;

        &:not(:disabled, :focus, &_error):hover {
            border-color: f-color("white", 0.25);
        }
    }

    &_error {
        border-color: f-color(error);
    }

    &::placeholder {
        color: f-color(text);
        opacity: 0.5;
    }

    &:not(&_error):focus {
        border-color: f-color(accent);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.label,
.error {
    @include text(sm);

    display: block;
    cursor: pointer;
}

.label {
    color: f-color(text, 0.5);
}

.error {
    color: f-color(error);
}
