.card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    padding: 0.75rem;
    overflow: hidden;
    text-align: center;
    background-color: f-color(secondary, 0.25);
    border-radius: 0.75rem;

    @include media(lg) {
        gap: 1rem;
        padding: 1rem;
    }
}

.image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: inherit;

    & &__icon {
        width: 25%;
        height: 25%;
        opacity: 0.25;
    }

    image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.body,
.footer {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    width: 100%;
}

.caption {
    opacity: 0.5;
}

.footer {
    gap: inherit;
    margin-top: auto;
}

.price {
    padding: 0.25rem 0.75rem;
    background-color: f-color(accent, 0.75);
    border-radius: 0.5rem;

    @include media(lg) {
        padding-inline: 1rem;
    }
}
